{% extends "rating/base.html" %}

{% block title %}Mess Rating{% endblock %}

{% block css %}{% endblock %}

{% block js %}
	<script type="text/javascript">
		$( document ).ready(function() {
			setTimeout(function(){ window.location.href="{% url 'rating:start' %}" }, 4000);
		});
	</script>
{% endblock %}

{% block content %}
    <div class="container" style="padding-top:50px; text-align:center;">
        <h3>Sorry, An Error Occurred</h3>
        
        <h3><strong><u>Details</u></strong></h3>
        
        <h3 style="color: red">
		{% if messages %}
			{% for message in messages %}
				{{ message }}<br/>
			{% endfor %}
		{% endif %}
		</h3>

		<h3>Redirecting. Please wait.</h3>
    </div>
{% endblock %}