{% extends "rating/base.html" %}

{% block title %}Mess Rating{% endblock %}

{% block css %}{% endblock %}

{% block js %}{% endblock %}

{% block content %}
	<div class="container" style="padding-top:70px; text-align:center;">
		<h2>
			{% if request.user.is_authenticated %}
				Welcome {{ request.user.profile.name }}
			{% endif %}
		</h2>

		<form method="post" action="{% url 'rating:rating' %}">
			{% csrf_token %}
			<div class="btn-grp" data-toggle="buttons">
				<label class="btn btn-lg btn-primary">
					<input type="radio" name="rating" value="1">1
				</label>
				<label class="btn btn-lg btn-primary">
					<input type="radio" name="rating" value="2">2
				</label>
				<label class="btn btn-lg btn-primary active">
					<input type="radio" name="rating" value="3" checked>3
				</label>
				<label class="btn btn-lg btn-primary">
					<input type="radio" name="rating" value="4">4
				</label>
				<label class="btn btn-lg btn-primary">
					<input type="radio" name="rating" value="5">5
				</label>
			</div>
			<br/>
			<input type="submit" value="Submit" class="btn btn-lg btn-block btn-success">
		</form>
	</div>
{% endblock %}